# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
public/images/Showreel_landscape.mp4

# Nepoužívaná média
public/images/*.mp4
public/images/kancl.png
public/images/hf_*.png
public/images/wow-je-nase-proc*.png
public/images/wow_je_nase_proc*.png
public/images/ant-team.jpg
public/images/zaciname.jpg
public/images/provas.jpg
public/images/banner*.png
public/images/ai-influ*.png
public/images/ai-po.png
public/images/3fotky.png
public/images/modelka.png
public/images/liftor-stul.png
public/images/ant1.png
public/images/ant2.png
public/images/baby*.jpg
public/images/baby*.png
public/images/dnes.png
public/images/dyk*.png
public/images/evona.jpg
public/images/hannah.png
public/images/kama-outdoor.webp
public/images/michal-bouda.png
public/images/obchod.jpg
public/images/simpo.png
public/images/streicher.png
public/images/tomas-frank.png
public/images/ukazka-ai-influencer.png
public/images/vlk.png
public/images/vysledky*.png
public/images/vyzvy.webp
public/images/zoot.png
public/images/produktova-fotka-pred.png
